doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="css/pico.min.css")
  body
    nav
      ul 
        li 
          a(href='') PBN
      ul
        li
          a(href='') PBN
        li
          a(href='') Войти
        li
          a(href='') Регистрация
    nav
      aside 
        ul
          li
            a(href='') Профиль
          li 
            a(href='', class='sidebar') Задания 
          li
            a(href='', class='sidebar') Настройки
          li
            a(href='', class='sidebar') Статистика
          li
            a(href='', class='sidebar') Админ
    div(class='main')
      block content
