:root {
  --primary: #e53935;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.pbnicon {
	background-image: url(/Img/sides.png);
	background-repeat: no-repeat;
	background-size: cover;
}
